.hero__content h1{
  font-weight: 800;
  line-height: 55px;
   color: #38b6ff;
   
}
.hero__content h2{
  font-weight: 500;
  line-height: 55px;
   color: #ff914d;
}

.hero__content {
  padding-top: 80px;
}
.search input {
  border: none;
  outline: none;
  padding: 7px 10%;
}

.search {
  width: 60%;
  border: 1px solid #17bf9d44;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  margin-top: 20px;
}
